.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.header-navlink {
  display: contents;
}
.header-logo {
  height: 4rem;
  text-decoration: none;
}
.header-desktop-menu {
  display: flex;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-link {
  color: #ffffff;
  font-size: 1.3em;
  text-decoration: none;
}
.header-link01 {
  color: #ffffff;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-link02 {
  color: #ffffff;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-link03 {
  color: #ffffff;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-link04 {
  color: #ffffff;
  font-size: 1.3em;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-login {
  color: var(--dl-color-gray-white);
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.header-register {
  color: var(--dl-color-gray-white);
  border-color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.header-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-navlink1 {
  display: contents;
}
.header-image {
  height: 2rem;
  text-decoration: none;
}
.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.header-login1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-register1 {
  text-decoration: none;
}
.header-icon-group {
  display: flex;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 1200px) {
  .header-navbar-interactive {
    background-color: var(--dl-color-gray-black);
  }
  .header-link {
    color: var(--dl-color-gray-white);
  }
  .header-link01 {
    color: var(--dl-color-gray-white);
  }
  .header-link02 {
    color: var(--dl-color-gray-white);
  }
  .header-link03 {
    color: var(--dl-color-gray-white);
  }
  .header-link04 {
    color: var(--dl-color-gray-white);
  }
  .header-login {
    color: var(--dl-color-gray-white);
    border-color: var(--dl-color-gray-white);
    border-width: 1px;
    background-color: var(--dl-color-gray-black);
  }
  .header-register {
    color: var(--dl-color-gray-white);
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .header-header {
    height: auto;
  }
  .header-desktop-menu {
    display: none;
  }
  .header-btn-group {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon {
    fill: var(--dl-color-gray-white);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-mobile-menu {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: var(--dl-color-gray-black);
  }
  .header-image {
    height: 4rem;
  }
  .header-icon02 {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-link05 {
    color: var(--dl-color-gray-white);
    font-size: 4em;
  }
  .header-link06 {
    color: var(--dl-color-gray-white);
    font-size: 4em;
  }
  .header-link07 {
    color: var(--dl-color-gray-white);
    font-size: 4em;
  }
  .header-link08 {
    color: var(--dl-color-gray-white);
    font-size: 4em;
  }
  .header-link09 {
    color: var(--dl-color-gray-white);
    font-size: 4em;
  }
  .header-login1 {
    color: var(--dl-color-gray-white);
    font-size: 2em;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
  .header-register1 {
    color: var(--dl-color-gray-white);
    font-size: 2em;
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
  .header-icon04 {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-icon06 {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .header-icon08 {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-link01 {
    margin-left: var(--dl-space-space-unit);
  }
  .header-link02 {
    margin-left: var(--dl-space-space-unit);
  }
  .header-link03 {
    margin-left: var(--dl-space-space-unit);
  }
  .header-link04 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-icon {
    fill: #D9D9D9;
  }
  .header-mobile-menu {
    padding: 16px;
  }
  .header-icon02 {
    fill: #D9D9D9;
  }
  .header-link05 {
    color: var(--dl-color-gray-white);
    font-size: 3em;
  }
  .header-link06 {
    color: var(--dl-color-gray-white);
    font-size: 3em;
  }
  .header-link07 {
    color: var(--dl-color-gray-white);
    font-size: 3em;
  }
  .header-link08 {
    color: var(--dl-color-gray-white);
    font-size: 3em;
  }
  .header-link09 {
    color: var(--dl-color-gray-white);
    font-size: 3em;
  }
  .header-login1 {
    color: var(--dl-color-gray-white);
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
  .header-register1 {
    color: var(--dl-color-gray-white);
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
}
